<!DOCTYPE html>
<html>
<head>
    <title>Gestor de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

    <div class="container">

        <h1>Gestor de Tarefas</h1>

        <div class="form">

            <input id="titulo" placeholder="Título">
            <select id="prioridade">
                <option value="Alta">Alta</option>
                <option value="Média">Média</option>
                <option value="Baixa">Baixa</option>
            </select>

            <button onclick="adicionar()">Adicionar</button>

            <input id="pesquisa" placeholder="Pesquisar">
            <select id="filtro">
                <option>Todas</option>
                <option>Alta</option>
                <option>Média</option>
                <option>Baixa</option>
            </select>

        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Prioridade</th>
                    <th>Data</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody id="tabela"></tbody>
        </table>

    </div>

    <div id="modal" class="modal">
        <div class="modal-content">

            <h3>Editar Tarefa</h3>

            <input id="modal-titulo" placeholder="Título">

            <select id="modal-prioridade">
                <option value="Alta">Alta</option>
                <option value="Média">Média</option>
                <option value="Baixa">Baixa</option>
            </select>

            <br><br>

            <button onclick="guardarEdicao()">Guardar</button>
            <button onclick="fecharModal()">Cancelar</button>

        </div>
    </div>

    <script src="/static/scripts/app.js"></script>
</body>
</html>